.header{
	margin-left: 250px;
	margin-right: 250px
}

.headernav{
		margin-left: 10px;
}

.headerborder{
	border-radius: 10px	
	
}

.headersearch{
	margin-left: 420px;
}

.headermarket{
	margin-top: 10px;

}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
   	flex: 1 0 auto;
}
